---
layout: front-page
---

<div class="site-content">
  <div class="wrapper">

    <!-- Post list -->
    {% for post in paginator.posts %}
    <article class="post-content">
      <div class="meta">
	<p>{{ post.date | date: "%b %-d %Y" }}</p>
	<p>{% if post.author %}{{ post.author }}{% endif %}</p>
	{% if post.meta %}{{ post.meta }}{% endif %}

	<div class="toggle">
	  {% if page.categories != empty %}
	  <p icon-before="&#xe805">
	    {% for cat in post.categories %}
	    <a class="category" href="{{site.baseurl}}/categories/#{{cat}}">{{cat}}</a>
	    {% endfor %}
	  </p>
	  {% endif %}

	  {% if post.tags != empty %}
	  <p icon-before="&#xe804">
	    {% for tag in post.tags %}
	    <a class="tag" href="{{site.baseurl}}/tags/#{{tag}}">{{tag}}</a>
	    {% endfor %}
	  </p>
	  {% endif %}
	</div>
      </div>

      <h1><a href="{{site.baseurl}}{{post.url}}"> {{ post.title }} </a></h1>

      {{ post.content }}
    </article>
    {% endfor %}

    <!-- Pagination links -->
    <div class="pagination">
      {% if paginator.previous_page %}
      <a href="{{site.baseurl}}{{paginator.previous_page_path}}" icon-before="&#xE808"></a>
      {% else %}
      <span class="previous" icon-before="&#xE808"></span>
      {% endif %}

      <span class="page-number ">{{ paginator.page }}/{{ paginator.total_pages }}</span>

      {% if paginator.next_page %}
      <a href="{{site.baseurl}}{{paginator.next_page_path}}" icon-after="&#xE809"></a>
      {% else %}
      <span class="next" icon-after="&#xE809"></span>
      {% endif %}
    </div>

  </div>
</div>
