---
layout    : page
title     : Tags
permalink : /tags/
---

{% assign sorted_tags = site.tags | sort %}

<p id="tags" icon-before="&#xe800">
  {% for tag in sorted_tags %}
  {% assign name  = tag | first %}
  <a href="#{{name}}" class="tag">{{name}}</a>
  {% endfor %}
</p>

{% for tag in sorted_tags %}
{% assign name  = tag | first %}
{% assign posts = tag | last %}
<h2 id="{{name}}">
  {{name}}
  <a class="back-to-top" href="#tags" icon-before="&#xe80b"></a>
</h2>
<ol>
  {% for post in posts %}
  <li><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></li>
  {% endfor %}
</ol>
{% endfor %}
