<div id="mobile-widget">
  <div id="mobile-overlay">
  </div>

  <div id="mobile-menu-o">
    <ul>
      <li id="mobile-menu-btn-code"><i class="fa fa-code"></i></li>
      <li id="mobile-menu-btn-comment"><i class="fa fa-comment"></i></li>
      <li id="mobile-menu-btn-calendar"><i class="fa fa-calendar"></i></li>
      <li id="mobile-menu-btn-gear"><i class="fa fa-gear"></i></li>
      <li id="mobile-menu-btn-book"><i class="fa fa-book"></i></li>
    </ul>
    <div id="mobile-menu-btn-x">
      <i class="fa fa-times"></i>
    </div>
  </div>

  <div id="mobile-menu">
    <i class="fa fa-bars"></i>
  </div>
</div>
