---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1>{{ page.title }}</h1>
    <p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
  {{ content }}
  </article>

  <!--- Categories and Tags --->
  <p class="classification">
    {% if page.categories != empty %}
    <span class="categories">
      {% for cat in page.categories %}
      <a href="/categories/#{{cat}}">{{cat}}</a>
      {% endfor %}
    </span>
    {% endif %}

    {% if page.tags != empty %}
    <span class="tags">
      {% for tag in page.tags %}
      <a href="/tags/#{{tag}}">{{tag}}</a>
      {% endfor %}
    </span>
    {% endif %}
  </p>

</div>

<div class="pager">
  {% if page.next != nil %}
  <a class="next" href={{page.next.url}}>
    {{page.next.title | truncate: 30, "..."}}
  </a>
  {% endif %}

  {% if page.previous != nil %}
  <a class="prev" href={{page.previous.url}}>
    {{page.previous.title | truncate: 30, "..."}}
  </a>
  {% endif %}
</div>
