---
layout: content-page
---
<div class="site-content">
  <div class="wrapper">

    <article class="post-content">
      <!--- Date and Author --->
      <header>
	{{ page.date | date: "%b %-d %Y" }}
	{% if page.author %} • {{ page.author }}{% endif %}
	{% if page.meta %} • {{ page.meta }}{% endif %}
      </header>

      <!--- Post Content --->
      <h1>{{ page.title }}</h1>
      {{ content }}

      <!--- Categories and Tags --->
      <footer>
	{% if page.categories != empty %}
	<span>
	  <i class="fa fa-folder-o"></i>
	  {% for cat in page.categories %}
	  <a class="category" href="{{site.baseurl}}/categories/#{{cat}}">{{cat}}</a>
	  {% endfor %}
	</span>
	{% endif %}

	{% if page.tags != empty %}
	<span>
	  <i class="fa fa-tags"></i>
	  {% for tag in page.tags %}
	  <a class="tag" href="{{site.baseurl}}/tags/#{{tag}}">{{tag}}</a>
	  {% endfor %}
	</span>
	{% endif %}
      </footer>
    </article>

    <div class="pager">
      {% if page.previous != nil %}
      <a class="prev" href={{site.baseurl}}{{page.previous.url}}>
	<i class="fa fa-chevron-left"></i> 
	{{page.previous.title | truncate: 30, "..."}}
      </a>
      {% else %}
      <span></span>
      {% endif %}

      {% if page.next != nil %}
      <a class="next" href={{site.baseurl}}{{page.next.url}}>
	{{page.next.title | truncate: 30, "..."}}
	<i class="fa fa-chevron-right"></i>
      </a>
      {% else %}
      <span></span>
      {% endif %}
    </div>

  </div>
</div>
